<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>OTP MFA</Name>
    <Version>0.3.0</Version>
    <Title>Установщик OTP MFA</Title>
    <Publisher>olejatorqq</Publisher>
    <StartMenuDir>OTP MFA</StartMenuDir>
    <TargetDir>@HomeDir@/OTP MFA</TargetDir>
    <Translations>
        <Translation>../translations/installer_ru.qm</Translation>
    </Translations>
</Installer>

